<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">Create New Course</div>
            <div class="card-body">
                <form [formGroup]="form" (submit)="handleSubmit()">
                    <div class="form-group">
                        <label>Course Title</label>
                        <input formControlName="courseTitle" class="form-control" />
                    </div>


                    <ng-container formArrayName="lessons">
                        <ng-container *ngFor="let lessonForm of lessons.controls;let i=index;">
                            <hr />
                            <span>{{i+1}}</span>
                            <form [formGroup]="lessonForm">
                                <div class="form-group">
                                    <label>Lesson Title</label>
                                    <input formControlName="title" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Level</label>
                                    <select class="form-control" formControlName="level">
                                        <option>Easy</option>
                                        <option>Intermediate</option>
                                        <option>Difficult</option>
                                    </select>
                                </div>
                            </form>
                            <a href="" (click)="deleteLesson(i,$event)">delete</a>
                            <hr />
                        </ng-container>
                    </ng-container>

                    <hr />
                    <button type="button" (click)="addLesson()" class="btn btn-sm btn-dark">Add New Lesson</button>
                    &nbsp;
                    <button class="btn btn-sm btn-dark">submit</button>
                </form>
            </div>
        </div>
    </div>
</div>