<div class="container">
  <hr />
  <div>play-with-NG</div>
  <hr />


  <!-- 
    <app-card>
      <header #header>this is header content</header>
      <div class="body">this is body content</div>
      <div>some extra content</div>
      <app-text></app-text>
      <app-text></app-text>
      <footer>this is footer content</footer>
    </app-card> 
  -->

  <!-- 
  <button (click)="message='good morning'" class="btn btn-primary"> GM </button>&nbsp;
  <button (click)="message='good noon'" class="btn btn-primary"> GN </button>&nbsp;
  <button (click)="message='good evening'" class="btn btn-primary"> GE </button>&nbsp;
  <button (click)="message=''" class="btn btn-danger"> Remove Greeting </button>&nbsp;

  <hr />

  <app-greeting *ngIf="message" [message]="message"></app-greeting> 

  -->


  <feature1-comp-one></feature1-comp-one>


</div>